.navbar {
    background-color: #e15f41;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.text-colored {
    color: #e15f41;
}

.roboto-normal {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-variation-settings:
    "wdth" 100;
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto", serif;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: "Pacifico", cursive;
}

.section-title span {
    color: #e15f41;
}

#sobre {
    background-color: #ffeae6;
}

#eventos h3.section-title {
    color: #e15f41;
}

.nav-cardapio .nav-link.active {
    background-color: #e15f41;
    color: #fff;
    font-style: italic;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41
}
